body{
    display: flex;
    background-color: #E5EAF0 ;
    font-family: 'Sora', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

#card{
    margin: 164px auto;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    background-color: #FFFFFF ;
    width: 368px;
    border-radius: 16px;
}

#card img{
    margin: 16px;
    border-radius: 10px;
}

#card button{
    padding: 6px 16px;
    border-radius: 15px;
    border: none;
    color: #883AE1;
    background-color: #E6D6FC ;
    margin-bottom: 16px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 16xp;
}

#card button:hover{
    scale: 1.05;
    color: #E6D6FC;
    background-color: #883AE1;
    transition-duration: .3s;
} 
#card h1{
    font-size: 18px;
    margin-bottom: 6px ;
    margin-left: 16xp;
}

#card p{
    font-size: 14px;
    margin: 0px 16px 20px;
    font-weight:300 ;
    color: #6C727F;
}

#card h2{
    font-size: 12px;
    margin: 0px 16px 20px;
    padding-top: 10px ;
    font-weight:300 ;
    color: #6C727F;
}